<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <app-menu #menu>
            <ul class="list-unstyled">
                <li><a showIfLogged [routerLink]="['photos/list']" (click)="menu.toggleShow()">Timeline</a></li>
                <li><a showIfLogged [routerLink]="['photos/form']" (click)="menu.toggleShow()">Upload</a></li>
            </ul>
        </app-menu>

        <div class="user-data" *ngIf="user.id > 0; else templateLogin">
            <i class="fa fa-user-circle"></i>
            <p>{{ user.name }} ({{ user.role }})</p>
            <button type="button" (click)="doLogout()">
                <i class="fa fa-sign-out"></i>
                Logout
            </button>
        </div>

        <ng-template #templateLogin>
            <span class="navbar-text">
                <a [routerLink]="['']">Please, login!</a>
            </span>
        </ng-template>
    </nav>

    <div>
        <app-loader></app-loader>
        <app-alert></app-alert>
    </div>
</header>