.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 5px;
}

.user-data p {
    font-size: 14px;
    margin: 0px;
}

.user-data button {
    border: none;
    font-size: 11px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background-color: #dadada;
}

.user-data button:hover {
    color: #e0e0e0;
    background-color: #5a5a5a;
}